@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-style: normal;
}
@font-face {
  font-family: "TheJamsil5";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
:root {
  --font1: "GmarketSans";
  --font2: "TheJamsil5Bold";
}
body {
  background: linear-gradient(180deg, #3a3a3a 0%, #1a1a1a 51.2%, #3a3a3a 100%)
    no-repeat;
  height: 100vh;
}
.hd {
  margin: auto;
  /* max-width: 1200px; */
  width: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
}
.tnb {
  padding-top: 1rem;
  width: calc(100% - 1rem);
  display: flex;
  justify-content: right;
}
h1 {
  display: flex;
  justify-content: center;
  /* border: 3px solid wheat; */
  width: 100%;
  height: 150px;
}
svg {
  font-family: "Russo One", sans-serif;
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
svg text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #c7c7c7;
  font-size: 110px;
}
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgb(236, 236, 236);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(236, 236, 236);
  }
  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(236, 236, 236);
    stroke-width: 3;
  }
  100% {
    fill: rgb(190, 190, 190);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}
/* 리뷰작성버튼 */
.btn_write {
  font-family: var(--font1);
  /* margin-top: 50px; */
  line-height: 10px;
  display: inline-block;
  padding: 25px 30px;
  font-size: 10px;
  letter-spacing: 3px;
  text-decoration: none;
  position: relative;
}
.btn_write__text {
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 300ms ease;
  position: relative;
}
.btn_write:hover .btn_write__text {
  color: white;
}
.btn_write__solid {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: #b2876f;
  width: calc(100% - (5px * 4));
  height: calc(100% - (5px * 4));
  transform-origin: 50%;
  transform: scale(0.85);
  opacity: 0;
  transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn_write:hover .btn_write__solid {
  opacity: 1;
  transform: scale(1);
}
.btn_write__outline {
  position: absolute;
  top: 0;
  left: 0;
}
.btn_write__outline--tall {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
  height: 100%;
}
.btn_write__outline--flat {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
  width: 100%;
}
.btn_write__line {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.btn_write__line--tall:before,
.btn_write__line--tall:after {
  height: 100%;
  width: 1px;
  top: 0;
}
.btn_write:hover .btn_write__outline--flat .btn_write__line--tall:before,
.btn_write:hover .btn_write__outline--flat .btn_write__line--tall:after {
  transform: scaleY(0);
}
.btn_write:hover .btn_write__outline--tall .btn_write__line--tall:before,
.btn_write:hover .btn_write__outline--tall .btn_write__line--tall:after {
  margin: 5px 0;
  height: calc(100% - (5px * 2));
}
.btn_write__line--tall:before {
  left: 0;
}
.btn_write__line--tall:after {
  right: 0;
}
.btn_write__line--flat:before,
.btn_write__line--flat:after {
  width: 100%;
  height: 1px;
  left: 0;
}
.btn_write:hover .btn_write__outline--tall .btn_write__line--flat:before,
.btn_write:hover .btn_write__outline--tall .btn_write__line--flat:after {
  transform: scaleX(0);
}
.btn_write:hover .btn_write__outline--flat .btn_write__line--flat:before,
.btn_write:hover .btn_write__outline--flat .btn_write__line--flat:after {
  margin: 0 5px;
  width: calc(100% - (5px * 2));
}
.btn_write__line--flat:before {
  top: 0;
}
.btn_write__line--flat:after {
  bottom: 0;
}
.btn_write__line:before,
.btn_write__line:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #d9d9d9;
  transition: 800ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.btn_write:hover .btn_write__line:before,
.btn_write:hover .btn_write__line:after {
  transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
/* 슬라이드 */
.movie_frame {
  margin: auto;
  width: 100%;
  overflow: hidden;
}
.movie_card {
  position: relative;
  /* overflow: hidden; */
  border-radius: 1rem;
  /* width: 150px; */
  height: 70vh;
  display: flex;
  justify-content: center;
}
.movie_card img {
  /* width: 100%; */
  height: 100%;
}
.card_detail {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  position: absolute;
  display: none;
  padding: 3rem 2rem;
  color: #ffffff;
  font-weight: lighter;
  font-family: var(--font2);
  font-weight: 500;
}
.card_detail p {
  margin: 0.5rem 0;
}
.btn_edit {
  position: absolute;
  color: #ffffff;
  right: 70px;
  top: 20px;
  font-size: 0.75rem;
  font-family: var(--font1);
}
.delete {
  cursor: pointer;
  color: #ffffff;
  font-family: var(--font1);
  font-size: 0.75rem;
  background: none;
  border: none;
  position: absolute;
  right: 30px;
  top: 18px;
  display: none;
}
.movie_title {
  font-weight: bold;
  font-size: 1.25rem;
}
.swiper-container .swiper-wrapper {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.swiper {
  overflow: visible;
  left: -160px;
}
.swiper-slide {
  width: 150px;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  /* margin: 0 auto; */
  transition: all 0.3s ease-in-out;
}
.swiper-slide-active {
  width: 480px;
  /* margin: 0 auto; */
}
.swiper-slide-active .movie_card img {
  width: 100%;
}
.swiper-slide-active .movie_card .card_detail {
  display: block;
}
.swiper-slide-active .delete {
  display: block;
}
.swiper-pagination {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  color: #d9d9d9;
  font-family: var(--font1);
  font-weight: bold;
}
.swiper-button-next {
  color: #ffffff;
  background-color: #eaeaea30;
  border-radius: 50%;
  padding: 2rem;
}
.swiper-button-prev {
  color: #ffffff;
  background-color: #eaeaea30;
  border-radius: 50%;
  padding: 2rem;
}

/* write page */
form {
  border-radius: 1rem;
  max-width: 800px;
  margin: auto;
  width: calc(100% -2rem);
  background-color: #eaeaea40;
  backdrop-filter: blur(100px);
  padding: 2rem;
  color: #ffffff;
  font-family: var(--font1);
}

.write_wrap {
  display: flex;
  width: 100%;
  position: relative;
  text-shadow: 0px 0px 10px #ffffff60;
}
.write_wrap li {
  width: calc(100% / 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.write_wrap h2 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  /* text-align: center; */
}

.write_detail {
  /* border: 1px solid black; */
  height: 50%;
}
.write_detail p {
  padding: 0.5rem 0;
}
.write_detail input {
  width: 85%;
  font-family: var(--font1);
  background-color: #d9d9d9;
  padding: 0.3rem;
  border: none;
  box-shadow: 0px 0px 15px #00000060;
}
.write_detail input:focus {
  background-image: url(/public/img/write_icon.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: right;
  border: none;
  outline: 1px solid #ffffff;
  /* background-color: #1a1a1a; */
}
.write_select {
  display: flex;
  height: 80%;
}
.write_select p {
  padding-top: 1rem;
  width: calc(100% / 2);
}
.write_select input {
  cursor: pointer;
  background-color: #d9d9d9;
  border: none;
  box-shadow: 0px 0px 15px #00000060;
  padding: 0.2rem;
  font-size: 0.75rem;
  font-family: var(--font1);
}
.write_select input:focus {
  outline: 1px solid #ffffff;
}
.write_select select {
  padding: 0.2rem;
  box-shadow: 0px 0px 15px #00000060;
  background-color: #d9d9d9;
  font-size: 0.75rem;
  font-family: var(--font1);
}
.write_select select:focus {
  outline: 1px solid #ffffff;
  border: none;
}
input[type="submit"] {
  font-family: var(--font1);
  width: 85%;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.25rem;
  cursor: pointer;
}
input[type="submit"]:hover {
  text-shadow: 0px 0px 10px #ffffff;
  transform: translateY(-4%);
}
.comment textarea {
  background-color: #d9d9d9;
  border: none;
  box-shadow: 0px 0px 15px #00000060;
  width: 100%;
  height: 400px;
  resize: none;
  font-family: var(--font1);
}
.comment textarea:focus {
  outline: 1px solid #ffffff;
  border: none;
  background-image: url(/public/img/writing_icon.svg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: right bottom;
}
/* edit page */
.thumbnail {
  display: flex;
  justify-content: center;
}
form img {
  transform: translateX(-18%);
  width: 120px;
}
/* 반응형 */
@media (max-width: 700px) {
  .write_wrap{
    flex-direction: column;
  }
  .write_wrap li {
    width: 100%;
  }
  .write_detail input{
    width: 100%;
  }
  .write_select {
    justify-content: space-between;
  }
  input[type="submit"]{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
  }
  input[type="submit"]:hover{
    left: 50%;
    transform: translateX(-50%);
  }
  .comment_wrap{
    margin: 2rem 0;
  }
}
@media (max-width: 500px) {
  .swiper {
    left: 0;
  }
  .swiper-slide-active {
    width: 380px;
  }
}

